# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

.DS_Store
_site/
.sass-cache/
.jekyll-metadata
.venv
.idea
template_base
pelican.pid
srv.pid
output
publish-key
publish-key.pub
