{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}
{% block banner %}
{% endblock %}
{% block navbar %}
    {% include "includes/navbar-home.html" %}
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="{{ SITEURL }}/theme/css/article.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ SITEURL }}/theme/css/wiki.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css">
{% endblock %}
{% block content %}

  <div class="container">
    {% block pre_content %}{% endblock %}

    <div class="row">
    <br>
      <div class="col-xs-12">
       {% set BREADCRUMB_ELEMENTS = [("Wiki", "wiki"),(page.title, None)] %}

        <div class="row">

            <div class="col s12 m12 l12 white z-depth-2 page">
                <br>
                {% include "includes/breadcrumbs.html" %}

                <hr>
                  {% set SEARCH = false %}
                  {% include "includes/side_bar_wiki.html" %}

                  <div id="content-wiki">

                    {% block page_title %}
                        <h1 id="title-wiki">{{ page.title }}</h1>
                    {% endblock %}
                        <div class="article-contents" id="wiki-content" style="padding-left: 10px;">
                            <div class="wiki-list1" id="wiki-list">
                                <div>
                                    <a href="{{ SITEURL }}/{{ link }}"> {{ titulo }}</a>
                                </div>
                                <div class="tag-wiki" style="padding-top: 2px;">

                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>


      </div>
    </div>

    {% block post_content %}{% endblock %}
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/itindublin/wiki.js"></script>
{% endblock %}
